        body {
            font-family: 'Roboto', sans-serif; /* Шрифт Roboto */
            background-color: #eef2f4; /* Светлый фон */
            color: #333;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            font-size: 22px; /* Уменьшил размер шрифта */
            margin: 0 0 20px; /* Убрал верхний отступ, оставил нижний */
            color: #2c3e50; /* Тёмно-синий цвет заголовка */
            width: 1090px; /* Установлена ширина заголовка такая же, как у таблицы */
            margin-left: auto; /* Центрирование по горизонтали */
            margin-right: auto; /* Центрирование по горизонтали */
        }
        table {
            width: 100%; /* Ширина таблицы 100% */
            max-width: 1200px; /* Максимальная ширина таблицы */
            border-collapse: collapse;
            margin: 0 auto 20px; /* Центрирование таблицы */
            background-color: #fff;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); /* Тень для таблицы */
            border-radius: 8px; /* Закругленные углы */
        }
        table, th, td {
            border: 1px solid #ddd; /* Более светлый цвет для границ */
        }
        th, td {
            padding: 12px; /* Увеличил отступы */
            text-align: center; /* Выравнивание по центру */
            font-size: 14px; /* Уменьшил размер шрифта */
        }
        th {
            background-color: #f9f9f9; /* Светлый фон для заголовков */
            font-weight: bold; /* Полужирный шрифт для заголовков */
            position: sticky; /* Закрепление заголовков */
            top: 0; /* Положение при скролле */
            z-index: 10; /* Уровень отображения заголовка */
        }
        tr:hover { /* Эффект наведения */
            background-color: #f1f1f1; /* Светло-серый фон при наведении */
        }
        th.index-column {
            width: 5%; /* Устанавливаем ширину для колонки "№ п/п" */
        }
        th.product-name-column {
            width: 25%; /* Устанавливаем ширину для колонки "Название продукта" */
        }
        th.tnved-position-column {
            width: 15%; /* Устанавливаем ширину для колонки "Позиция ТН ВЭД" */
        }
        th.tnved-code-column {
            width: 30%; /* Устанавливаем ширину для колонки "Код ТН ВЭД*" */
        }
        th.product-id-code-class-column {
            width: 25%; /* Устанавливаем ширину для колонки "Код класса идентификационных кодов продукции" */
        }
        .form-container {
            display: flex;
            justify-content: center; /* Распределение форм по ширине */
            gap: 20px;
            margin-top: 20px; /* Отступ сверху */
        }
        .form {
            width: 355px; /* Ширина форм */
            padding: 15px; /* Отступ внутри форм */
            background-color: #fff;
            border: 1px solid #ddd; /* Более светлый цвет для границ */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень для форм */
            border-radius: 8px; /* Закругленные углы */
        }
        .form p {
            margin: 10px 0; /* Отступы для параграфов */
            font-size: 12px; /* Уменьшил размер шрифта для текста в формах */
            color: #555; /* Более светлый цвет текста */
        }
        a {
            color: #3498db; /* Цвет ссылок */
            text-decoration: none; /* Убрал подчеркивание */
        }
        a:hover {
            text-decoration: underline; /* Подчеркивание при наведении */
        }
        header, footer {
            width: 100%; /* Полная ширина */
            margin: 10px auto; /* Центрирование */
            text-align: center;
            background-color: #f9f9f9; /* Светлый фон */
            color: #555; /* Цвет текста */
            border-radius: 8px; /* Закругленные углы */
        }

        header {
            max-width: 715px; /* Максимальная ширина для заголовка */
            padding: 10px 20px; /* Отступы в заголовке */
            font-size: 16px; /* Размер шрифта в заголовке */
            margin-bottom: 20px; /* Отступ снизу */
        }

        footer {
            max-width: 587px; /* Максимальная ширина для футера */
            padding: 5px; /* Отступы в футере */
            font-size: 12px; /* Размер шрифта в футере */
            margin-top: 20px; /* Отступ сверху */
        }
        
        .language-selector {
            position: absolute;
            top: 20px;
            right: 20px; /* Переместил влево */
            text-align: right;
        }
        .lang-button {
            padding: 6px 10px; /* Уменьшен размер кнопок */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 5px;
            font-size: 12px; /* Уменьшен размер шрифта */
            transition: background-color 0.3s, color 0.3s;
        }
        .lang-button.active {
            background-color: #3498db;
            color: white;
        }
        .lang-button:hover {
            background-color: #2980b9;
            color: white;
        }